/* some global styling */
header {
    margin-top: 10px;
    margin-bottom: 100px;

}

nav {
    background-color: rgb(197, 240, 197);
    margin-bottom: 100px;
    font-family: 'Permanent Marker',
        cursive;    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images//backgrounds/background.jfif")
}

main {
    font-size: 125%;
    font-family: 'Caveat',
        cursive;
}

img {
    width: 200px;
    height: 250px;
}

a {
    color: rgb(14, 14, 221);
}

/* Mostly just background color or images and picture sizing */
.name {
    padding: 15px;
    background-color: rgb(241, 241, 215);
}

.container {
    background-gradient
}

.contBackground {
    background-image: linear-gradient(to bottom right, rgb(250,250,250),  rgb(118, 226, 118));

}

.green {
    z-index: 2;
    background-color: rgb(197, 240, 197);
}

.bgcolor {
    background-image: url("../images//backgrounds/creampaper.png");
}
.name{
background-image: url("../images//backgrounds/more-leaves.png")}